.topbar-container {
  height: 15vh;
  background-color: var(--white);
}

.intro-container {
  /* position: fixed; */
  background: rgb(62, 0, 0);
  background: linear-gradient(90deg, rgba(62, 0, 0, 1) 4%, rgba(66, 0, 9, 1) 23%, rgba(50, 0, 0, 1) 100%);
  height: 75vh;
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.intro-container .image {
  width: 50%;
  /* background: grey; */
  position: relative;
}

.intro-container .intro-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image h1 {
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 25vh;
  left: 25%;
  letter-spacing: 10px;
}

.image>img {
  position: fixed;
  top: 2vh;
  left: 5vw;
}

.main-title {
  width: 40%;
}

.main-intro {
  width: 60%;
}

.main-title,
.main-intro {
  padding: 2%;
  color: var(--white);
  font-family: 'Roboto', sans-serif;
}

.bottombar-container {
  height: 10vh;
  background-color: white;
}

.details-container,
.awards-container {
  background: rgb(62, 0, 0);
  background: linear-gradient(90deg, rgba(62, 0, 0, 1) 4%, rgba(66, 0, 9, 1) 23%, rgba(50, 0, 0, 1) 100%);
  height: 75vh;
  display: flex;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.details-container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-container ul li,
.details-container ul li a {
  color: var(--white);
  font-weight: 100;
  font-size: large;
}



@media only screen and (max-width: 650px) {
  .intro-container {
    height: fit-content;
    flex-direction: column;
    align-items: center;
  }

  .intro-container>.image {
    width: 100%;
    margin: 10px;
  }

  .image>h1 {
    bottom: 5%;
    left: 15%;
  }

  .image>img {
    left: 10%;
    width: 75%;
    position: relative;
  }

  .intro-right {
    flex-direction: column;
  }

  .intro-right>* {
    margin: 10px;
  }

  .main-title {
    width: 100%;
  }

  .main-intro {
    width: 100%;
    margin: 10px;
    ;
  }

  .details-container {
    width: 100%;
  }

  .details-container>ul {
    width: 100%;
  }

}